<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

    <% @dogs.each do |dog| %>
    <%= image_tag(dog.image, class: 'polaroid') %>
      <p class='name'><%= dog.name %></p>
    <% end %>


<br>

<%= link_to 'Add My Dog', new_user_dog_path %>
