<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<div class="container">
  <div class="row"
    <% @dogs.each do |dog| %>

        <%= image_tag(dog.image, class: 'polaroid') %>
        <p class='name'>
        <%= dog.name %>
        </p>
      
    <% end %>
  </div>
</div>

<br>