<div class='footer'>

  <div class='text-center'>
    <%= link_to 'https://github.com/tsuyy/doge_meetings'  do %>
      <i class="fa fa-code" aria-hidden="true"></i> KKRY
    <% end %>
    &#169 2017
  </div>
</div>
